table {
  min-height: 350px;
  td {
    min-width: 100px !important;
  }
}

.edit,
.delete {
  cursor: pointer;
}
.delete {
  color: red;
  margin-left: 8px;
}
.edit {
  color: green;
}

.no-data-cell {
  text-align: end;
  font-weight: bold;
  color: #757575;
  width: 100%;
}
