<div>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="9" align-self-stretch>
            <ion-button (click)="openForm(true)" size="round">
              <ion-icon name="add" size="large"></ion-icon> <span>Add Student</span>
            </ion-button>
          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="3" align-self-stretch>
            <ion-item>
              <!-- <ion-input (keyup)="applyFilter($event)" label="Search record" labelPlacement="floating" -->
                <!-- type="text"></ion-input> -->
                 <!-- <ion-searchbar (keyup)="applyFilter($event)"></ion-searchbar> -->
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  
    <ion-card-content style="overflow: auto;">

    </ion-card-content>

  
    <!-- <ion-alert [isOpen]="isDeleteOpen" [header]="alertHeader" [message]="message" [buttons]="alertButtons"
      (didDismiss)="deleteRecord($event)">
    </ion-alert> -->
  
    <!-- <app-student-form *ngIf="formOpen" (dataEvent)="receiveData($event)" [formData]="selectedRecord"
      [isOpen]="formOpen"></app-student-form> -->
    <app-student-form [formData]="initialData"></app-student-form>
  </div>