<div>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size-xs="12" size-sm="12" size-md="10" align-self-stretch>
          <ion-button (click)="openForm(true)" size="round">
            <ion-icon name="add" size="large"></ion-icon> <span>Add Student</span>
          </ion-button>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="2" align-self-stretch>
          <ion-item>
            <ion-input (keyup)="applyFilter($event)" label="Search record" labelPlacement="floating"
              type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>

  <ion-card-content style="overflow: auto;">
    <table mat-table [dataSource]="dataSource" matSort matSortDirection="desc" class="mat-elevation-z8">
      <!-- Define columns -->
      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
          {{ column }}</th>
        <td mat-cell *matCellDef="let element;">
          <span
            *ngIf="!(column === 'Action' || column === 'createdAt' || column === 'updatedAt' || column === 'Date_of_birth' || column === 'AdmissionDate' || column === 'Session')">{{
            element[column] }} </span>

          <span *ngIf="column === 'Action'" style="display: flex;">
            <ion-icon class="edit" name="create-outline" size="large" (click)="editRecord(element)"></ion-icon>
            <ion-icon class="delete" name="trash" size="large" (click)="openDeleteDialog(element)"></ion-icon>
          </span>

          <span
            *ngIf="column === 'createdAt' || column === 'updatedAt' || column === 'Date_of_birth' || column === 'AdmissionDate' || column === 'Session'">
            {{ element[column] | localDateTime:"dateTime" }}
          </span>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
      <div class="mat-row" *matNoDataRow>
        <div class="mat-cell ion-padding">
          <h3>No data Found</h3>
        </div>
      </div>
    </table>
  </ion-card-content>
  <mat-paginator style="border-top:1px solid #80808045;" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
    aria-label="Select page of periodic elements">
  </mat-paginator>

  <ion-alert [isOpen]="isDeleteOpen" [header]="alertHeader" [message]="message" [buttons]="alertButtons"
    (didDismiss)="deleteRecord($event)">
  </ion-alert>

  <app-student-form *ngIf="formOpen" (dataEvent)="receiveData($event)" [formData]="selectedRecord"
    [isOpen]="formOpen"></app-student-form>
</div>