<ion-content class="ion-padding">
  <ion-modal [isOpen]="isOpen" (willDismiss)="onWillDismiss($event)" keyboardClose="true" backdropDismiss="true">
    <ng-template>
      <ion-header class="ion-padding" style="background-color: lightgray;">
        <ion-row class="ion-justify-content-between">
          <div><ion-button slot="start" (click)="cancel()">Cancel</ion-button></div>
          <div class="ion-padding">
            <ion-title size="large">School Form</ion-title>
          </div>
          <div><ion-button slot="end" color="success" (click)="save()">Save</ion-button></div>
        </ion-row>
      </ion-header>
      <ion-content class="ion-padding" [formGroup]="schoolForm">
        <ion-grid>
          <ion-row>
            <ion-col size-xs="12" size-sm="12" size-md="6" align-self-stretch>
              <ion-item>
                <ion-input label="School name" labelPlacement="floating" type="text" placeholder="School name"
                  formControlName="schoolName"></ion-input>
              </ion-item>
              <div class="ion-padding-horizontal" *ngIf="isErrorMessage('schoolName')">
                <mat-error *ngIf="schoolForm.controls.schoolName.errors.required"><sub>School Name is
                    required.</sub></mat-error>
              </div>
            </ion-col>
            <ion-col size-xs="12" size-sm="12" size-md="6" align-self-stretch>
              <ion-item>
                <ion-input label="Director name" labelPlacement="floating" type="text" placeholder="Director name"
                  formControlName="directorName"></ion-input>
              </ion-item>
              <div class="ion-padding-horizontal" *ngIf="isErrorMessage('directorName')">
                <mat-error *ngIf="schoolForm.controls.directorName.errors.required"><sub>Director Name is
                    required.</sub></mat-error>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col size-xs="12" size-sm="12" size-md="6" align-self-stretch>
              <ion-item>
                <ion-input label="School Type" labelPlacement="floating" type="text" placeholder="School type"
                  formControlName="schoolType"></ion-input>
              </ion-item>
              <div class="ion-padding-horizontal" *ngIf="isErrorMessage('schoolType')">
                <mat-error *ngIf="schoolForm.controls.schoolType.errors.required"><sub>School Type is
                    required.</sub></mat-error>
              </div>
            </ion-col>
            <ion-col size-xs="12" size-sm="12" size-md="6" align-self-stretch>
              <ion-item>
                <ion-input label="School phone" labelPlacement="floating" type="text" placeholder="School phone"
                  formControlName="phone"></ion-input>
              </ion-item>
              <div class="ion-padding-horizontal" *ngIf="isErrorMessage('phone')">
                <mat-error *ngIf="schoolForm.controls.phone.errors.required"><sub>Phone number is
                    required.</sub></mat-error>
                <mat-error *ngIf="schoolForm.controls.phone.errors.pattern"><sub>Phone number is
                    invalid.</sub></mat-error>
                <mat-error *ngIf="schoolForm.controls.phone.errors.minlength"><sub>Phone number atleast of 10
                    digit.</sub></mat-error>
                <mat-error *ngIf="schoolForm.controls.phone.errors.maxlength"><sub>Phone number should be less than 12.</sub></mat-error>

              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-textarea label="School Address" labelPlacement="floating" type="text" placeholder="School addres"
                  formControlName="address"></ion-textarea>
              </ion-item>
              <div class="ion-padding-horizontal" *ngIf="isErrorMessage('address')">
                <mat-error *ngIf="schoolForm.controls.address.errors.required"><sub>Address is
                    required.</sub></mat-error>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col size-xs="12" size-sm="12" size-md="6" align-self-stretch>
              <ion-item>
                <ion-input label="School email" labelPlacement="floating" type="text" placeholder="School email"
                  formControlName="email"></ion-input>
              </ion-item>
              <div class="ion-padding-horizontal" *ngIf="isErrorMessage('email')">
                <mat-error *ngIf="schoolForm.controls.email.errors.required"><sub>Email is
                    required.</sub></mat-error>
                <mat-error *ngIf="schoolForm.controls.email.errors.email"><sub>Provide valid email .</sub></mat-error>
              </div>
            </ion-col>
            <ion-col size-xs="12" size-sm="12" size-md="6" align-self-stretch>
              <ion-item>
                <ion-input label="Remark" labelPlacement="floating" type="text" placeholder="remarks"
                  formControlName="remarks"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>