.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.778);
  z-index: 1000;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  text-align: center;
}
.form-header {
  background-color: #e6e5bde3;
  color: black;
}
// .scrollable-form {
//   overflow: auto;
//   min-height: 75vh;
// }
.scrollable-form {
  overflow-y: auto;        /* Enables vertical scrolling */
  overflow-x: hidden;      /* Prevents horizontal scrolling */
  max-height: 75vh;        /* Maximum height of the form is 75% of the viewport */
  min-height: 50vh;        /* Minimum height of the form is 50% of the viewport */
  height: auto;            /* Adjust height automatically between min and max height */
  padding: 1rem;           /* Adds some padding inside the form for better readability */
  box-sizing: border-box;  /* Ensures padding doesn't affect width/height calculations */
}