<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-menu-toggle>
          <ion-button color="danger"><mat-icon>close</mat-icon></ion-button>
        </ion-menu-toggle>
      </ion-toolbar>
    </ion-header>
    <!-- <ion-content class="ion-padding">This is the menu content.</ion-content> -->
    <ion-content>
      <!-- <ion-accordion-group [multiple]="true" [value]="['first', 'third']"> -->
      <ion-accordion-group [multiple]="true">
        <ion-item (click)="openItems('/')">
          <ion-label class="label"><mat-icon>home</mat-icon>Dashboard</ion-label>
        </ion-item>
        <ion-accordion value="Front Desk">
          <ion-item slot="header" color="light">
            <ion-label class="label" class="label"><mat-icon>computer</mat-icon>Front Desk</ion-label>
          </ion-item>
          <ion-list slot="content">
            <ion-item (click)="openItems('/')">
              <ion-label class="label">Visitor Register</ion-label>
            </ion-item>
            <ion-item (click)="openItems('/')">
              <ion-label class="label">Admission Enquiry</ion-label>
            </ion-item>
            <ion-item (click)="openItems('/')">
              <ion-label class="label">Complain Register</ion-label>
            </ion-item>
            <ion-item (click)="openItems('/')">
              <ion-label class="label">Familly Information</ion-label>
            </ion-item>
            <ion-item (click)="openItems('/')">
              <ion-label class="label">Student Information</ion-label>
            </ion-item>
            <ion-item (click)="openItems('/')">
              <ion-label class="label">Instant SMS</ion-label>
            </ion-item>
          </ion-list>
        </ion-accordion>
        <ion-accordion value="Admission Management">
          <ion-item slot="header" color="light">
            <ion-label class="label"><mat-icon>group</mat-icon>Admission Management</ion-label>
          </ion-item>
          <ion-list slot="content">
            <ion-item (click)="openItems('/admission-management/student')">
              <ion-label class="label"><mat-icon>person_add</mat-icon>Students</ion-label>
            </ion-item>
            <ion-item (click)="openItems('/')">
              <ion-label class="label"><mat-icon>picture_as_pdf</mat-icon>Admission Forms</ion-label>
            </ion-item>
            <ion-item (click)="openItems('/')">
              <ion-label class="label"><mat-icon>person_remove</mat-icon>Withdrawal Students</ion-label>
            </ion-item>
            <ion-item (click)="openItems('/')">
              <ion-label class="label"><mat-icon>trending_up</mat-icon>Student Reports</ion-label>
            </ion-item>
          </ion-list>
        </ion-accordion>
        <ion-accordion value="Staff Management">
          <ion-item slot="header" color="light">
            <ion-label class="label"><mat-icon>person_apron</mat-icon>Staff Management</ion-label>
          </ion-item>
          <ion-list slot="content">
            <ion-item (click)="openItems('/admission-management/student')">
              <ion-label class="label"><mat-icon>supervisor_account</mat-icon>Staff</ion-label>
            </ion-item>
            <ion-item (click)="openItems('/')">
              <ion-label class="label"><mat-icon>payments</mat-icon>Salary Allowance</ion-label>
            </ion-item>
            <ion-item (click)="openItems('/')">
              <ion-label class="label"><mat-icon>credit_card_off</mat-icon>Salary Deduction</ion-label>
            </ion-item>
            <ion-item (click)="openItems('/')">
              <ion-label class="label"><mat-icon>trending_up</mat-icon>Staff Reports</ion-label>
            </ion-item>
          </ion-list>
        </ion-accordion>
        <ion-accordion value="Attendance">
          <ion-item slot="header" color="light">
            <ion-label class="label"><mat-icon>groups</mat-icon>Attendance</ion-label>
          </ion-item>
          <ion-list slot="content">
            <ion-item (click)="openItems('/admission-management/student')">
              <ion-label class="label"><mat-icon>apartment</mat-icon>Staff Attendance</ion-label>
            </ion-item>
            <ion-item (click)="openItems('/')">
              <ion-label class="label"><mat-icon>apartment</mat-icon>Student Attendance</ion-label>
            </ion-item>
            <ion-item (click)="openItems('/')">
              <ion-label class="label"><mat-icon>apartment</mat-icon>Leave Requests</ion-label>
            </ion-item>
            <ion-item (click)="openItems('/')">
              <ion-label class="label"><mat-icon>trending_up</mat-icon>Attendance Reports</ion-label>
            </ion-item>
          </ion-list>
        </ion-accordion>
        <ion-accordion value="Classes">
          <ion-item slot="header" color="light">
            <ion-label class="label"><mat-icon>groups</mat-icon>Classes</ion-label>
          </ion-item>
          <ion-list slot="content">
            <ion-item (click)="openItems('/admission-management/student')">
              <ion-label class="label"><mat-icon>apartment</mat-icon>Classes</ion-label>
            </ion-item>
            <ion-item (click)="openItems('/')">
              <ion-label class="label"><mat-icon>apartment</mat-icon>Class Timetable</ion-label>
            </ion-item>
            <ion-item (click)="openItems('/')">
              <ion-label class="label"><mat-icon>apartment</mat-icon>Class Sections</ion-label>
            </ion-item>
            <ion-item (click)="openItems('/')">
              <ion-label class="label"><mat-icon>apartment</mat-icon>Class Diary</ion-label>
            </ion-item>
            <ion-item (click)="openItems('/')">
              <ion-label class="label"><mat-icon>trending_up</mat-icon>Class Reports</ion-label>
            </ion-item>
          </ion-list>
        </ion-accordion>
        <ion-accordion value="Fee">
          <ion-item slot="header" color="light">
            <ion-label class="label"><mat-icon>groups</mat-icon>Fee</ion-label>
          </ion-item>
          <ion-list slot="content">
            <ion-item (click)="openItems('/admission-management/student')">
              <ion-label class="label"><mat-icon>apartment</mat-icon>Fee Collection</ion-label>
            </ion-item>
            <ion-item (click)="openItems('/')">
              <ion-label class="label"><mat-icon>apartment</mat-icon>Print Fee Slips</ion-label>
            </ion-item>
            <ion-item (click)="openItems('/')">
              <ion-label class="label"><mat-icon>apartment</mat-icon>Advance Fee</ion-label>
            </ion-item>
            <ion-item (click)="openItems('/')">
              <ion-label class="label"><mat-icon>trending_up</mat-icon>Fee Reports</ion-label>
            </ion-item>
          </ion-list>
        </ion-accordion>
        <ion-accordion value="Payroll">
          <ion-item slot="header" color="light">
            <ion-label class="label"><mat-icon>groups</mat-icon>Payroll</ion-label>
          </ion-item>
          <ion-list slot="content">
            <ion-item (click)="openItems('/admission-management/student')">
              <ion-label class="label"><mat-icon>apartment</mat-icon>Salary Slips</ion-label>
            </ion-item>
            <ion-item (click)="openItems('/')">
              <ion-label class="label"><mat-icon>trending_up</mat-icon>Salary Reports</ion-label>
            </ion-item>
          </ion-list>
        </ion-accordion>
        <ion-accordion value="Finance">
          <ion-item slot="header" color="light">
            <ion-label class="label"><mat-icon>groups</mat-icon>Finance</ion-label>
          </ion-item>
          <ion-list slot="content">
            <ion-item (click)="openItems('/admission-management/student')">
              <ion-label class="label"><mat-icon>apartment</mat-icon>Class</ion-label>
            </ion-item>
            <ion-item (click)="openItems('/')">
              <ion-label class="label"><mat-icon>trending_up</mat-icon>Class Reports</ion-label>
            </ion-item>
          </ion-list>
        </ion-accordion>
        <ion-accordion value="Examination">
          <ion-item slot="header" color="light">
            <ion-label class="label"><mat-icon>groups</mat-icon>Examination</ion-label>
          </ion-item>
          <ion-list slot="content">
            <ion-item (click)="openItems('/admission-management/student')">
              <ion-label class="label"><mat-icon>apartment</mat-icon>Datesheet</ion-label>
            </ion-item>
            <ion-item (click)="openItems('/admission-management/student')">
              <ion-label class="label"><mat-icon>apartment</mat-icon>Assessments</ion-label>
            </ion-item>
            <ion-item (click)="openItems('/admission-management/student')">
              <ion-label class="label"><mat-icon>apartment</mat-icon>Monthly Tests</ion-label>
            </ion-item>
            <ion-item (click)="openItems('/admission-management/student')">
              <ion-label class="label"><mat-icon>apartment</mat-icon>Final Results</ion-label>
            </ion-item>
            <ion-item (click)="openItems('/')">
              <ion-label class="label"><mat-icon>trending_up</mat-icon>Exam Reports</ion-label>
            </ion-item>
          </ion-list>
        </ion-accordion>
        <ion-accordion value="Curriculum">
          <ion-item slot="header" color="light">
            <ion-label class="label"><mat-icon>groups</mat-icon>Curriculum</ion-label>
          </ion-item>
          <ion-list slot="content">
            <ion-item (click)="openItems('/admission-management/student')">
              <ion-label class="label"><mat-icon>apartment</mat-icon>Class</ion-label>
            </ion-item>
            <ion-item (click)="openItems('/')">
              <ion-label class="label"><mat-icon>trending_up</mat-icon>Class Reports</ion-label>
            </ion-item>
          </ion-list>
        </ion-accordion>
        <ion-accordion value="Transport">
          <ion-item slot="header" color="light">
            <ion-label class="label"><mat-icon>groups</mat-icon>Transport</ion-label>
          </ion-item>
          <ion-list slot="content">
            <ion-item (click)="openItems('/admission-management/student')">
              <ion-label class="label"><mat-icon>apartment</mat-icon>Passengers</ion-label>
            </ion-item>
            <ion-item (click)="openItems('/admission-management/student')">
              <ion-label class="label"><mat-icon>apartment</mat-icon>Vehicles</ion-label>
            </ion-item>
            <ion-item (click)="openItems('/admission-management/student')">
              <ion-label class="label"><mat-icon>apartment</mat-icon>Vehicles Routes</ion-label>
            </ion-item>
            <ion-item (click)="openItems('/')">
              <ion-label class="label"><mat-icon>trending_up</mat-icon>Reports</ion-label>
            </ion-item>
          </ion-list>
        </ion-accordion>
        <ion-accordion value="Settings">
          <ion-item slot="header" color="light">
            <ion-label class="label"><mat-icon>groups</mat-icon>Settings</ion-label>
          </ion-item>
          <ion-list slot="content">
            <ion-item (click)="openItems('/admission-management/student')">
              <ion-label class="label"><mat-icon>apartment</mat-icon>Users Accounts</ion-label>
            </ion-item>
            <ion-item (click)="openItems('/admission-management/student')">
              <ion-label class="label"><mat-icon>apartment</mat-icon>Session Promotion</ion-label>
            </ion-item>
            <ion-item (click)="openItems('/admission-management/student')">
              <ion-label class="label"><mat-icon>apartment</mat-icon>Campus Settings</ion-label>
            </ion-item>
            <ion-item (click)="openItems('/admission-management/student')">
              <ion-label class="label"><mat-icon>apartment</mat-icon>Role</ion-label>
            </ion-item>
            <ion-item (click)="openItems('/')">
              <ion-label class="label"><mat-icon>trending_up</mat-icon>Auto SMS Alerts</ion-label>
            </ion-item>
          </ion-list>
        </ion-accordion>
        <ion-accordion value="Setup For Super Admin">
          <ion-item slot="header" color="light">
            <ion-label class="label"><mat-icon>groups</mat-icon>Setup For Super Admin</ion-label>
          </ion-item>
          <ion-list slot="content">
            <ion-item (click)="openItems('/school-management')">
              <ion-label class="label"><mat-icon>apartment</mat-icon>School Management</ion-label>
            </ion-item>
            <ion-item (click)="openItems('/admission-management/student')">
              <ion-label class="label"><mat-icon>apartment</mat-icon>Users</ion-label>
            </ion-item>
            <ion-item (click)="openItems('/admission-management/student')">
              <ion-label class="label"><mat-icon>apartment</mat-icon>Role Permission</ion-label>
            </ion-item>
            <ion-item (click)="openItems('/admission-management/student')">
              <ion-label class="label"><mat-icon>apartment</mat-icon>Role</ion-label>
            </ion-item>
            <ion-item (click)="openItems('/')">
              <ion-label class="label"><mat-icon>trending_up</mat-icon>Auto SMS Alerts</ion-label>
            </ion-item>
          </ion-list>
        </ion-accordion>
        <ion-item (click)="openItems('/')">
          <ion-label class="label"><mat-icon>help</mat-icon>Help</ion-label>
        </ion-item>
      </ion-accordion-group>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    
    <app-spinner></app-spinner>
    <app-snackbar></app-snackbar>

    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title routerLink="/">School Management ERP</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
  </div>
</ion-app>