<ion-content>
<button (click)="openform()">Open modal</button>
  <ion-modal [isOpen]="isOpen" (willDismiss)="onWillDismiss($event)" keyboardClose="true" backdropDismiss="true"
  class="form-modal">
  <ng-template>
    <ion-header class="ion-padding form-header">
      <ion-row class="ion-justify-content-between">
        <ion-row class="ion-align-items-center">
          <ion-icon name="close" size="large" id="present-alert" title="Close Form" (click)="openAlertModal()"></ion-icon>
          <ion-title size="large">Add Form</ion-title>
        </ion-row>
        <div>
          <ion-button slot="end" color="medium"  color="success">Save</ion-button>
        </div>
      </ion-row>
    </ion-header>
    <ion-content class="ion-padding" >
      <div class="container">
        <ion-card class="card-color">
          <ion-card-header class="ion-padding" color="primary">
            <!-- <ion-row class="ion-justify-content-center">
            <div style="margin-top: 10px;"> -->
            <ion-card-title size="large">Personal Detail</ion-card-title>
            <!-- </div>
          </ion-row> -->
          </ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col size-xs="12" size-sm="12" size-md="4" align-self-stretch>
                <ion-item>
                  <ion-input label="Remarks" labelPlacement="floating" type="text"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-card>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
<ion-alert [isOpen]="isDeleteOpen" [header]="'Close Form'" [message]="'Are you sure, you want close this form ?'"
        [buttons]="alertButtons" (didDismiss)="closeForm($event)">
      </ion-alert>

  <ion-grid>
    <mat-toolbar color="warn">
      <mat-toolbar-row>
        <span>Custom Toolbar</span>
      </mat-toolbar-row>
    
      <mat-toolbar-row>
        <span>Second Line</span>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
      </mat-toolbar-row>
    
      <mat-toolbar-row>
        <span>Third Line</span>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>
    
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="3"><ion-card color="danger">
          <ion-card-header>
            <ion-card-title>25</ion-card-title>
            <ion-card-subtitle>Active Students</ion-card-subtitle>
            <mat-icon>supervisor_account</mat-icon>
          </ion-card-header>
          <ion-card-content>Total Students: 125</ion-card-content>
        </ion-card></ion-col>

      <ion-col size="12" size-md="6" size-lg="3"><ion-card color="secondary">
          <ion-card-header>
            <ion-card-title>14</ion-card-title>
            <ion-card-subtitle>Staffs</ion-card-subtitle>
            <mat-icon>supervisor_account</mat-icon>
          </ion-card-header>

          <ion-card-content>Total Staffs : 14</ion-card-content>
        </ion-card></ion-col>

      <ion-col size="12" size-md="6" size-lg="3"><ion-card color="tertiary">
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content> Card Content </ion-card-content>
        </ion-card></ion-col>

      <ion-col size="12" size-md="6" size-lg="3"><ion-card color="success">
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content> Card Content </ion-card-content>
        </ion-card></ion-col>

      <ion-col size="12" size-md="6" size-lg="3"><ion-card color="warning">
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content> Card Content </ion-card-content>
        </ion-card></ion-col>

      <ion-col size="12" size-md="6" size-lg="3"><ion-card color="danger">
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content> Card Content </ion-card-content>
        </ion-card></ion-col>

      <ion-col size="12" size-md="6" size-lg="3"><ion-card color="light">
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content> Card Content </ion-card-content>
        </ion-card></ion-col>

      <ion-col size="12" size-md="6" size-lg="3"><ion-card color="medium">
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content> Card Content </ion-card-content>
        </ion-card></ion-col>

      <ion-col size="12" size-md="6" size-lg="3"><ion-card color="dark">
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content> Card Content </ion-card-content>
        </ion-card></ion-col>
    </ion-row>
  </ion-grid>
  <ion-header>
    <ion-toolbar>
      <ion-title>Multiple Selection</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterItems()"></ion-searchbar>
    
    <ion-item>
      <ion-label>Select All</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="selectAll" (ionChange)="toggleSelectAll()"></ion-checkbox>
    </ion-item>
    
    <ion-list>
      <ion-item *ngFor="let item of filteredItems">
        <ion-label>{{ item.name }}</ion-label>
        <ion-checkbox slot="start" [(ngModel)]="item.selected"></ion-checkbox>
      </ion-item>
    </ion-list>
  
    <ion-button expand="full" (click)="submit()">Submit</ion-button>
  </ion-content>
  
</ion-content>